<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Проект</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        .container{
            box-sizing: content-box;
            background-color: rgba(255,255,255,0.13);

            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 35px 35px;

            margin-bottom: 40px;
        }

        body{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>

<div class="container">
    <center><h5>Машины  <a type="button" class="btn btn-primary" th:href="@{/management/auto}">Редактировать</a></h5></center>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Марка</th>
            <th scope="col">Год выпуска</th>
            <th scope="col">Тип</th>
            <th scope="col">ФИО владельца</th>
        </tr>
        </thead>
        <tbody id="cars">
        </tbody>
    </table>
</div>

<div class="container">
    <center><h5>Клиенты <a type="button" class="btn btn-primary" th:href="@{/management/client}">Редактировать</a></h5></center>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Телефон</th>
        </tr>
        </thead>
        <tbody id="clients">
        </tbody>
    </table>
</div>

<div class="container">
    <center><h5>Заявки <a type="button" class="btn btn-primary" th:href="@{/management/request}">Редактировать</a></h5></center>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Дата</th>
            <th scope="col">ФИО клиента</th>
            <th scope="col">Цена</th>
            <th scope="col">Комментарий клиента</th>
        </tr>
        </thead>
        <tbody id="requests">
        </tbody>
    </table>
</div>

<div class="container">
    <center><h5>Работники <a type="button" class="btn btn-primary" th:href="@{/management/worker}">Редактировать</a></h5></center>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Телефон</th>
            <th scope="col">Опыт</th>
            <th scope="col">Должность</th>
            <th scope="col">ID филиала</th>
            <th scope="col">ID заявки</th>
        </tr>
        </thead>
        <tbody id="workers">
        </tbody>
    </table>
</div>

<div class="container">
    <center><h5>Филиалы <a type="button" class="btn btn-primary" th:href="@{/management/branch}">Редактировать</a></h5></center>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Специализация</th>
            <th scope="col">Адресс</th>
        </tr>
        </thead>
        <tbody id="branches">
        </tbody>
    </table>
</div>

<div class="container">
    <center><h5>Поставщики  <a type="button" class="btn btn-primary" th:href="@{/management/provider}">Редактировать</a></h5></center>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Тип поставляемых запчастей</th>
            <th scope="col">Название компании</th>
            <th scope="col">ID филиала</th>
        </tr>
        </thead>
        <tbody id="providers">
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<script src="js/loadAll.js"></script>
</body>
</html>